{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Broker Application{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">

    {{ application }}

   <h1>Application Form {{company}}</h1>
   {{ wtf.quick_form(company) }}
   
   <h1>Application Form {{employee}}</h1>
   {{ wtf.quick_form(employee) }}
   
   <h1>Application Form {{auto}}</h1>
   {{ wtf.quick_form(auto) }}


</div>
{% endblock %}

{% block after_body %}{% endblock %} 