{% extends 'base.html' %}


{% block title %}Broker Application{% endblock %}

{% block head %}{% endblock %}

{% block body %}
<div class="container">

    {{ application }}
<!-- not dynamic... -->
<!-- render THIS FORM if.... -->
   <h1>Application Form {{company}}</h1>
   <form method="POST" action=""> <!-- have the action send to new page? -->
       {{ company.csrf_token }}

       {{ company.company_name.label(class="form-label") }}
       {{ company.company_name(class="form-control") }}
       <ul>
        {% for error in company.company_name.errors %}
            <li style="color:red;">{{ error }}</li>
        {% endfor %}
        </ul>

       {{ company.ceo.label(class="form-label") }}
       {{ company.ceo(class="form-control") }}
       <ul>
        {% for error in company.ceo.errors %}
          <li style='color:red;'>{{ error }}</li>
        {% endfor %}
        </ul>

       {{ company.website.label(class="form-label") }}
       {{ company.website(class="form-control") }}
       <ul>
        {% for error in company.website.errors %}
          <li style='color:red;'>{{ error }}</li>
        {% endfor %}
       </ul>

        <!-- address once sorted -->

       {{ company.is_california_relevant.label(class="form-check-label") }}
       {{ company.is_california_relevant(class="form-check-input") }}
       <ul>
        {% for error in company.is_california_relevant.errors %}
          <li style='color:red;'>{{ error }}</li>
        {% endfor %}
       </ul>

       {{ company.total_compensation.label(class="form-label") }}
       {{ company.total_compensation(class="form-control") }}
       <ul>
        {% for error in company.total_compensation.errors %}
          <li style='color:red;'>{{ error }}</li>
        {% endfor %}
       </ul>

       {{ company.submit(class="btn btn-primary") }}
   </form>

<!-- render THIS FORM if.... -->
<h1>Application Form {{employee}}</h1>
<form method="POST" action="">
    {{ employee.csrf_token }}

    {{ employee.applicant_name.label }}
    {{ employee.applicant_name }}

    {{ employee.applicant_title.label }}
    {{ employee.applicant_title }}

    {{ company.submit() }}
</form>

<!-- render THIS FORM if.... -->
<h1>Application Form {{auto}}</h1>
<form method="POST" action="">
    {{ auto.csrf_token }}

    {{ auto.vin.label }}
    {{ auto.vin }}

    {{ auto.make.label }}
    {{ auto.make }}

    {{ auto.submit() }}
</form>

<!-- else -->
<h1>form does not exist</h1>




</div>
{% endblock %}

{% block after_body %}{% endblock %} 