{% extends 'base.html' %}

{% block title %}Broker Application{% endblock %}

{% block head %}{% endblock %}

{% block body %} 
<div class="container">


{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}


    {% for app_type in forms_dict %}
        {% if app_type['name'].replace(' ', '_').lower() == application %}
            <h1>{{ app_type['name'] }}</h1>
            <form action="/submit/{{ app_type['name'].replace(' ', '_').lower() }}" method="POST" enctype="application/json" id="{{ app_type['name'].replace(' ', '_').lower() }}">
            {% for item in app_type['fields'] %}
                <div class="form-group">
                    <label class="col-form-label">{{ item['label'] }}</label>
                    {% if item['component'] in ['input', 'text', 'url'] %}
                        <input class="form-control" type="text" name="{{ item['name'] }}" value="{{ item['value'] }}" "min="{{ item['validate'][-1]['value'] }}" {{ item['validate'][0]['type'] }}>
                    {% endif %}
                    {% if item['component'] in ['number'] %}
                    <input class="form-control" type="number" name="{{ item['name'] }}" name="{{ item['value'] }}" min="{{ item['validate'][-1]['value'] }}" {{ item['validate'][0]['type'] }}>
                    {% endif %}
                    {% if item['component'] == 'select' %}
                        <select class="form-control" id="{{ item['name'] }}" {{ item['validate'][0]['type'] }}>
                            {% for option in item['options'] %}
                            <option>{{ option }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if item['component'] == 'checkbox' %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{ item['name'] }}" value="">
                            <label class="form-check-label">Yes</label>
                        </div>
                    {% endif %}
                </div>

                {% for nested_item in item['fields'] %}
                <div class="form-group">
                    <label class="col-form-label">{{ nested_item['label'] }}</label>
                    {% if nested_item['component'] in ['input', 'text', 'url'] %}
                        <input class="form-control" type="text" name="{{ nested_item['name'] }}" value="{{ nested_item['value'] }}" {{ nested_item.get('validate', [{'type': ''}])[0]['type'] }}>
                    {% endif %}
                    {% if nested_item['component'] == 'number' %}
                        <input class="form-control" type="number" name="{{ nested_item['name'] }}" value="{{ nested_item['value'] }}" {{ nested_item.get('validate', [{'type': ''}])[0]['type'] }}>
                    {% endif %}
                    {% if nested_item['component'] == 'select' %}
                        <select class="form-control" id="{{ nested_item['name'] }}">
                            {% for option in nested_item['options'] %}
                            <option>{{ option }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    {% if nested_item['component'] == 'checkbox' %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{ nested_item['name'] }}" value="">
                            <label class="form-check-label">Yes</label>
                        </div>
                    {% endif %}
                </div>

                    {% for extra_nested_item in nested_item['fields'] %}
                    <div class="form-group">
                        <label class="col-form-label">{{ extra_nested_item['label'] }}</label>
                        {% if extra_nested_item['component'] in ['input', 'text', 'url'] %}
                            <input class="form-control" type="text" name="{{ extra_nested_item['name'] }}" value="{{ extra_nested_item['value'] }}" {{ extra_nested_item.get('validate', [{'type': ''}])[0]['type'] }}>
                        {% endif %}
                        {% if extra_nested_item['component'] == 'number' %}
                            <input class="form-control" type="number" name="{{ extra_nested_item['name'] }}" value="{{ extra_nested_item['value'] }}" {{ extra_nested_item.get('validate', [{'type': ''}])[0]['type'] }}>
                        {% endif %}
                        {% if extra_nested_item['component'] == 'select' %}
                            <select class="form-control" id="{{ extra_nested_item['name'] }}">
                                {% for option in extra_nested_item['options'] %}
                                <option>{{ option }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        {% if extra_nested_item['component'] == 'checkbox' %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="{{ extra_nested_item['name'] }}" value="">
                                <label class="form-check-label">Yes</label>
                            </div>
                        {% endif %}
                    </div>

                    {% endfor %}
                {% endfor %}
            {% endfor %}
                <br>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        {% endif %}
    {% endfor %}

</div>
{% endblock %}

{% block after_body %}{% endblock %} 